@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,900;1,300;1,400;1,600;1,900&display=swap');


:root {
    --main-color: #232f3f;
    --sec-color: #5dccbb;
    --tex1-color: #949fb3;

    --darkB-color: #05111a;
    --lighterB-color: #1c4859;
    --tex2-color: #47B5FF;

    --wight-color: #e8eaec;

    --new1-color: #14297b;
    --new2-color: #84366f;

}



* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style-type: none;
    transition: all 0.5s ease;
    font-family: 'Poppins', sans-serif;
}



body {
    background-color: #f5f4f5;
}

.center {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center h1 {
   color: #143fee;
}

.center h3 {
    color: #b4b4b4;
}

.center p {
    width: 272px;
    text-align: center;
    margin-top: 10px;
    color: #05111a;
}

.center button {
    margin-top: 20px;
    border-radius: 10px;
    height: 30px;
    width: 100px;         
    cursor: pointer;
    background-color: #1a76ec;
    color: white;
}

.center button:hover {
    background-color: #0c284d;
}