.main {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.each {
   width: 400px;
   height: 120px;
   background-color: white;
   border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

.profile-img {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texts {
    height: 100%;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.img-p {
    width: 100px;
    border-radius: 10px;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.ui {
    width: 90px;
    height: 32px;
    background-color: #1a76ec;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.ui:hover {
    background-color: #acd1e4;
}

h1 {
    margin-bottom: 40px;
    color: #1a76ec;
    font-style: italic;
}

.dserch {
margin-bottom: 30px;
}

#input {
    width: 240px;
        padding-left: 15px;
        padding-right: 15px;
        background: transparent;
        border-bottom: 2px solid #1a76ec;
        background-color: #acd1e4;
        border-radius: 7px;
        height: 26px;
}

#btn-d {
        width: 100px;
            height: 30px;
            background-color: #1a76ec;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 20px;
}